<mat-toolbar color="primary">
  <span><a mat-button routerLink="">MyMessages</a></span>
  <span class="spacer"></span>

  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="active-link">New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/sign-up" routerLinkActive="active-link">Sign Up</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="active-link">Login</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLinkActive="active-link" (click)="onLogOut()">Logout</a>
    </li>
  </ul>
</mat-toolbar>
